body {
    font-family: Helvetica, sans-serif; 
    font-size: 17px;
    background: #FAFAFA; 
    color: #333333;
    text-rendering: optimizeLegibility;
}

article{
    width: 600px;
    margin: 0 auto;
}

time{
    color: #666;
    font-family: "Lucida Console", Courier, monospace;
    display: block;
    text-align: center;
}

h1, h2, header, nav{
    /*background-color: rgba(0, 0, 0, 0.691406);*/
    /*-webkit-background-clip: text;*/
    /*-moz-background-clip: text;*/
    /*background-clip: text;*/
    /*color: transparent;*/
    /*text-shadow: rgba(255,255,255,0.5) 0 5px 6px;*/
    font-family: "Lucida Console", Courier, monospace;
}
h1, header{
    color: #444;
}
h2{
    font-size: 1.5em;
    color: #444;
    text-align: center;
}

a { 
    color: #0d1b1b 
}
a:hover { 
   /* background-color: rgba(68, 68, 68, 0.7) */
    text-shadow: #4EC714 0px 0px 2px;
    /*color: #4EC714;*/
}

h2 > a, h2 > span, header  a, h1 > a{
    color: inherit;
    text-decoration: none;
}

#posts li{
    margin-bottom: 10px;
}

nav{
    float: right;
    padding-top: 0.5em;
}

h1{
    display: inline;
}

header{
    border-bottom: 1px dotted #444;
}

#comments{
    width: 700px;
    margin: 0 auto;
}
