<!DOCTYPE HTML> 
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
		<meta name="description" content="lfborjas on the internerd: web development and life" />
		<meta property="fb:admins" content="1375997733" />
        <title>{{page.title}}</title>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/css/base.css" media="screen" /> 
</head>
<body>
	<div id="main-container">
		<div id="header">
			<div id="branding">
				<a href="/"><span id="brand">lfborjas</span></a>				
			</div>
			<div id="menu">
				<a href="/contact.html">Contact</a> | <a href="/projects.html">Projects</a>		
			</div>
		</div>
		<div id="content">			
		    {{content}}
        </div>
		<div id="footer">
			<div id="license">
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
			<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
			</div>			
		</div>
	</div>
</body>
</html>
