<!DOCTYPE HTML> 
<html>
<head>
        <meta charset="utf-8" />
        <meta name="description" content="lfborjas on the internerd: web development and life" />
        <title>{{page.title}}</title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/css/base.css" media="screen" /> 
</head>
<body>
    <header>
        Lfborjas' Nerdlog
        <nav>
            <a href="/">cd ~</a>
            <a href="/contact.html">whois</a>
            <a href="/projects.html">git show</a>
        </nav>
        </header>
    <section>
        {{content}}    
    </section>

<script type="text/javascript">
var disqus_shortname = 'lfborjas';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/lfborjas/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
</body>
</html>
