---
layout: base
---

<h2><a href="{{page.url}}" class="title-link"><span class="rss-title">{{page.title}}</span></a></h2>		
<time>{{page.date|date:"%a, %b %d %Y"}}</time>		
<div class="article">
    <span class="rss-content">
    {%if content%}
        {{content}}
    {%else%}
        {{page.content}}
    {%endif%}
    </span>
</div>		
<div id="comments">
<aside id="share">
    <!-- Share on twitter -->
    <div id="twitter-share">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="lfborjas">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>						
</aside>
