---
layout: base
---

<h2><a href="{{page.url}}" class="title-link"><span class="rss-title">{{page.title}}</span></a></h2>		
<time>{{page.date|date:"%a, %b %d %Y"}}</time>		
<article>
    <span class="rss-content">
    {%if content%}
        {{content}}
    {%else%}
        {{page.content}}
    {%endif%}
    </span>
</article>		
<!-- <span class="rss-id">http://www.lfborjas.com{{post.id}}</span> -->
<!-- <span class="rss-link">http://www.lfborjas.com{{page.url}}</span> -->	
<div id="comments">
<aside id="share">
    <!-- Share on twitter -->
    <div id="twitter-share">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="lfborjas">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>						
</aside>
<div id="disqus_thread"></div>
<script type="text/javascript">  			
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://lfborjas.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();	
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=lfborjas">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
