---
layout: base
---
{%include post.html%}

<div id="share">
    <!-- Share on twitter -->
    <div id="twitter-share">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="lfborjas">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>						
    <!-- Share on facebook -->
    <div id="facebook-share">
        <fb:like layout="button_count" action="recommend" font="arial"></fb:like>
    </div>					
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">  			
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://lfborjas.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();	
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=lfborjas">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
